@import "/common/stylesheets/fonts.css";

/* ---------------------------------------------------------------------------- */
/* CSS for generic GUI components */
/* ---------------------------------------------------------------------------- */

/* Filler div to take remaining space */
.Filler {
  flex-grow: 1;
}

.FlexBox {
  display: flex;
}

.HBox {
  display: flex;
  flex-direction: row;
}

.VBox {
  display: flex;
  flex-direction: column;
}

/* ---------------------------------------------------------------------------- */
/* Tooltips */
/* ---------------------------------------------------------------------------- */

.tooltip {
  position: relative;
}

.tooltip:hover:after {
  content: attr(tooltip-text);
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 0.4em;
  border-radius: 0px 0px 4px 4px;
  /* basic styles */
  background: rgb(182, 225, 224);
  color: #000;
  font-size: 0.3em;
  font-family: "RobotoFlex-Regular", "Roboto Mono", monospace;
}

/* ---------------------------------------------------------------------------- */
/* Buttons inside toolbars, some with icons */
/* ---------------------------------------------------------------------------- */

/* https://m3.material.io/components/buttons/specs */
button {
  /* Flat */
  color: #158118;
  border: 1px solid;
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  border-radius: 20px;
  font-family: "RobotoFlex-Regular", "Roboto Mono", monospace;
}

.button-down {
  background-color: lightblue;
}

.ToolBar button {
  font-size: inherit;
  color: inherit;
  border: 0;
  background-color: transparent;
  /*padding: 4px 16px;*/
  padding: 4px 14px;
  cursor: pointer;
}

.ToolBar button:disabled {
  color: gray;
  cursor: default;
}

.ToolBar button:enabled:hover {
  background-color: rgba(0, 0, 0, 0.10);
  transition: background-color .25s;
}

/* Links inside buttons are not decorated */
button>a,
button>a:visited {
  color: inherit;
  text-decoration: none;
}

/* ---------------------------------------------------------------------------- */
/* Inputs & their labels */
/* ---------------------------------------------------------------------------- */

.Input>label {
  color: rgb(48, 93, 109);
  font-size: 12pt;
}

.Input>input {
  border: 0;
  border-bottom: 1pt solid grey;
  outline: none;
  font-size: 15pt;
}

/* ---------------------------------------------------------------------------- */
/* Select & their labels */
/* ---------------------------------------------------------------------------- */

.Select>label {
  color: rgb(48, 93, 109);
  font-size: 12pt;
}

.Select>select {
  border: 0;
  border-bottom: 1pt solid grey;
  outline: none;
  font-size: 15pt;
}

/* ---------------------------------------------------------------------------- */
/* Dropdown menus */
/* ---------------------------------------------------------------------------- */

.dropdown {
  position: relative;
  display: inline-block;
}

.NavBar>.dropdown>button,
.IconBar>.dropdown>button {
  height: 64px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  color: black;
  min-width: 160px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content .menu-header {
  padding: 8px 16px;
  white-space: nowrap;
  font-weight: bold;
  text-align: center;
}

.dropdown-content hr {
  border: 0px;
  border-top: 1px solid lightgray;
}

.dropdown-content .menu-item {
  padding: 8px 16px;
  white-space: nowrap;
  color: #305d6d;
}

.dropdown-content .menu-item:hover {
  background-color: lightgrey;
}

/* ---------------------------------------------------------------------------- */
/* Box
/* ---------------------------------------------------------------------------- */

.BoxShadow {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

/* ---------------------------------------------------------------------------- */
/* Modal dialogs
/* ---------------------------------------------------------------------------- */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 16px 8px;
  min-width: 33%;
  max-width: 50%;
  min-height: 25%;
  border: 2px solid grey;
  border-radius: 8px;
}

.modal-content hr {
  border: 0px;
  border-top: 1px solid lightgray;
  margin: 8px 0px;
}

.modal-content .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-content .close:hover,
.modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ---------------------------------------------------------------------------- */
/* Loading bar */
/* ---------------------------------------------------------------------------- */

.progress-bar-inactive {
  height: 3px;
  width: 100%;
  margin: 0;
}

.progress-bar,
.progress-bar:before {
  height: 3px;
  width: 100%;
  margin: 0;
}

.progress-bar {
  background-color: #b3d4fc;
  display: -webkit-flex;
  display: flex;
}

.progress-bar:before {
  background-color: #3f51b5;
  content: '';
  animation: running-progress 2s linear infinite;
  -webkit-animation: running-progress 2s linear infinite;
}

@keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }

  50% {
    margin-left: 0%;
    margin-right: 0%;
  }

  100% {
    margin-left: 100%;
    margin-right: 0%;
  }
}

@-webkit-keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }

  50% {
    margin-left: 0%;
    margin-right: 0%;
  }

  100% {
    margin-left: 100%;
    margin-right: 0%;
  }
}