/* DM Serif Text | Designed by Colophon Foundry  | https://fonts.google.com/specimen/DM+Serif+Text */
/* Public Sans | Designed by USWDS, Dan Williams, Pablo Impallari, Rodrigo Fuenzalida | https://fonts.google.com/specimen/Public+Sans */
/* Roboto Mono | Designed by Christian Robertson | https://fonts.google.com/specimen/Roboto+Mono */

/* CSS file for fonts */


/******************************************************************************************************************************************/
/* Local font definitions */


/* ---------------------------------------------------------------------*/
/* DM SERIF TEXT */
/*    - Regular 400 */

@font-face {
  font-family: 'DM Serif Text Regular (local)';
  src: url('/common/fonts/DMSerifText-Regular.ttf') format('truetype');
  font-stretch: normal;
  font-weight: 300 500;
  font-style: normal;
  font-display: swap
}


/* ---------------------------------------------------------------------*/
/* PUBLIC SANS */
/*    - Light 300 */
/*    - Regular 400 */
/*    - Semibold 600 */

@font-face {
  font-family: 'Public Sans Light (local)';
  src: url('/common/fonts/PublicSans-Light.ttf') format('truetype');
  font-stretch: normal;
  font-weight: 200 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'Public Sans Regular (local)';
  src: url('/common/fonts/PublicSans-Regular.ttf') format('truetype');
  font-stretch: normal;
  font-weight: 300 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'Public Sans Semibold (local)';
  src: url('/common/fonts/PublicSans-Semibold.ttf') format('truetype');
  font-stretch: normal;
  font-weight: 500 700;
  font-style: normal;
  font-display: swap
}


/* ---------------------------------------------------------------------*/
/* ROBOTO MONO */
/*    - Regular 400 */

@font-face {
  font-family: 'Roboto Mono Regular (local)';
  src: url('/common/fonts/RobotoMono-Regular.ttf') format('truetype');
  font-stretch: normal;
  font-weight: 300 500;
  font-style: normal;
  font-display: swap
}

/* ---------------------------------------------------------------------*/



/******************************************************************************************************************************************/
/* Root variables */

/* ---------------------------------------------------------------------*/
/* Font family variable definitions: */
/*    - default: web font (defined in app's html file head element, requested from Google Fonts API) */
/*    - first fallback: self-hosted font (loaded from .ttf file) */
/*    - second fallback: local system font (any suitable monospace, serif or sans-serif font available in user's system)   */

:root {
  --font-family-brand: 'DM Serif Text', 'DM Serif Text Regular (local)', serif;
  --font-family-headline: 'Public Sans', 'Public Sans Semibold (local)' sans-serif;
  --font-family-title: 'Public Sans', 'Public Sans Regular (local)', sans-serif;
  --font-family-label: 'Public Sans', 'Public Sans Light (local)', sans-serif;
  --font-family-content: 'Public Sans', 'Public Sans Light (local)', sans-serif;
  --font-family-mono: 'Roboto Mono', 'Roboto Mono Regular (local)' monospace;

  --font-size-icon-large: 2rem;
  --font-size-icon-normal: 1.5rem;
  --font-size-headline-large: 2rem;
  --font-size-headline-normal: 1.75rem;
  --font-size-headline-small: 1.5rem;
  --font-size-title-large: 1.375rem;
  --font-size-title-normal: 1rem;
  --font-size-title-small: 0.875rem;
  --font-size-label-large: 0.875rem;
  --font-size-label-normal: 0.75rem;
  --font-size-label-small: 0.6875rem;
  --font-size-content-large: 1rem;
  --font-size-content-normal: 0.875rem;
  --font-size-content-small: 0.75rem;

  --font-weight-headline-large: 400;
  --font-weight-headline-normal: 400;
  --font-weight-headline-small: 400;
  --font-weight-title-large: 400;
  --font-weight-title-normal: 500;
  --font-weight-title-small: 500;
  --font-weight-label-large: 500;
  --font-weight-label-normal: 500;
  --font-weight-label-small: 500;
  --font-weight-content-large: 400;
  --font-weight-content-normal: 400;
  --font-weight-content-small: 400;

  --font-line-height-headline-large: 2.5rem;
  --font-line-height-headline-normal: 2.25rem;
  --font-line-height-headline-small: 2rem;
  --font-line-height-title-large: 1.75rem;
  --font-line-height-title-normal: 1.5rem;
  --font-line-height-title-small: 1.25rem;
  --font-line-height-label-large: 1.25rem;
  --font-line-height-label-normal: 1rem;
  --font-line-height-label-small: 1rem;
  --font-line-height-content-large: 1.5rem;
  --font-line-height-content-normal: 1.25rem;
  --font-line-height-content-small: 1rem;
}

/*
1sp   0.0625rem
10sp	0.625rem
11sp  0.6875rem
12sp	0.75rem
14sp  0.875rem
16sp  1rem
20sp  1,25rem
24sp	1.5rem
28sp  1.75rem
30px  1.875rem
32px  2rem
40sp  2,5rem
60sp	3.75rem
*/