/* ---------------------------------------------------------------------------- */
/* Styles for notificationDialog component                                                */
/* ---------------------------------------------------------------------------- */

/*
Top element
Mainly used for background styles
*/
.notificationDialogsBg{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 6;
  background-color: var(--color-primary-white);
  opacity: 75%;
  pointer-events: unset;
  display: flex;
  align-items: start;
}

/* Container for notificationDialogs */
/* Several notificationDialogs are stacked*/
/* User can click other elements under notificationDialog */
.notificationdialogs {
    position: fixed;
    top: 5px;
    display: flex;
    flex-direction: column-reverse;
    z-index: 6;
    align-items: center;
    width: 100%;
    pointer-events: none;
  }
  
  /* Container for one notificationDialog */
  /* NotificationDialog contains: */
  /*    - icon */
  /*    - title */
  /*    - text */
  /*    - link button */
  /*    - close button*/
  .notificationdialog-container {
    display: none;
    align-items: center;
    background-color: var(--style-background-color, var(--color-blue-60));
    min-width: 550px;
    max-width: 800px;
    max-height: 800px;
    overflow: auto;
    margin: 0.5em;
    pointer-events: all;
    padding: 14px
  }

  /*
    Header contains:
    - icon
    - title
    - close button
  */
  .notificationdialog-header{
    display: inline-flex;
    width: 100%;
  }
  /*
    Body contains:
    - text
    - link button

  */
  .notificationdialog-body{
    display: block;
    width: 100%;
    padding-left: 5px;
  }
  
  /* NotificationDialog icon is container for a message style icon */
  .notificationdialog-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--style-icon-color, var(--color-blue-100));
  }
  
  .notificationdialog-icon span.material-icons {
    font-size: var(--font-size-icon-extra-large);
    align-items: center;
  }
  
  /* NotificationDialog title is the message in notificationDialog */
  .notificationdialog-title {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    letter-spacing: 1px;
    align-items: center;
    font-family: var(--font-family-label);
    font-size: var(--font-size-label-large);
    color: var(--color-primary-blue);
    padding-right: 16px;
    font-weight: bold;
    justify-content: center;
  }
  
  /* NotificationDialog text is the message in notificationDialog */
  .notificationdialog-text {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    align-items: left;
    font-family: var(--font-family-label);
    font-size: var(--font-size-label-large);
    color: var(--color-primary-blue);
    padding-right: 16px;
  }
  
  /* NotificationDialog link is container for an link button  */
  .notificationdialog-link {
    display: none;
    padding-right: 16px;
  }
  
  .notificationdialog-link button {
    border: none;
    background-color: transparent;
    color: var(--color-functional-blue);
    text-decoration: underline dotted var(--color-functional-blue) 0.1rem;
    font-family: var(--font-family-link);
    font-weight: var(--font-weight-link);
    font-size: var(--font-size-link-large);
    padding: 0px;
    margin: 0px;
    height: 24px;
  }
  
  .notificationdialog-close {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    padding-left: 12px;
    font-family: var(--font-family-link);
    font-weight: var(--font-weight-link);
    font-size: var(--font-size-link-medium);
    color: var(--color-primary-blue);
    letter-spacing: 1px;
  }
  
  .notificationdialog-close span.material-icons {
    font-size: var(--font-size-icon-small);
    padding-left: 4px;
  }
  
  .notificationdialog-link button:hover,
  .notificationdialog-close:hover {
    cursor: pointer;
  }
  
  .notificationdialog-link button:hover {
    color: var(--color-primary-blue);
    text-decoration: underline solid var(--color-primary-blue) 0.1rem;
  }
  
  .notificationdialog-close:hover {
    color: var(--color-functional-blue);
  }
  
  .notificationdialog-close:hover .notificationdialog-close-text {
    text-decoration: underline solid var(--color-functional-blue) 0.1rem;
  }
  
  .notificationdialog-close:active,
  .notificationdialog-link button:active {
    color: var(--color-primary-blue);
  }
  
  .notificationdialog-link button:active,
  .notificationdialog-close:active .notificationdialog-close-text {
    text-decoration: underline solid var(--color-primary-blue) 0.1rem;
  }
  
  /* NotificationDialog is shown with animations */
  .notificationdialog-container.show-and-hide {
    display: inline-flex;
    animation: fadein 1s, fadeout 1s 5s forwards;
  }
  .notificationdialog-container.show {
    display: inline-block;
    animation: fadein 1s;
  }
  .notificationdialog-container.hide {
    display: inline-flex;
    animation: fadeout 1s 5s forwards;
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeout {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }