/* ---------------------------------------------------------------------------- */
/* Styles for notificationBanner component                                                */
/* ---------------------------------------------------------------------------- */


/* Container for notificationBanners */
/* Several notificationBanners are stacked*/
/* User can click other elements under notificationBanner */
.notificationstaticbannerstatics {
  display: flex;
  flex-direction: column-reverse;
  z-index: 6;
  align-items: center;
  width: 100%;
  max-height: 68px;
  background-color: var(--style-background-color, var(--color-blue-60));
}

/* Container for one notificationBanner */
/* NotificationBanner contains: */
/*    - icon */
/*    - text */
/*    - link button */
/*    - close button*/
.notificationbannerstatic-container {
  display: inline-flex;
  align-items: center;
  overflow: auto;
  pointer-events: all;
  padding: 14px
}


/* NotificationBanner icon is container for a message style icon */
.notificationbannerstatic-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--style-icon-color, var(--color-blue-100));
}

.notificationbannerstatic-icon span.material-icons {
  font-size: var(--font-size-icon-extra-large);
  align-items: center;
}


/* NotificationBanner text is the message in notificationBanner */
.notificationbannerstatic-text {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  letter-spacing: 1px;
  align-items: center;
  font-family: var(--font-family-label);
  font-size: var(--font-size-label-large);
  color: var(--color-primary-blue);
  padding-right: 16px;
}

/* NotificationBanner link is container for an link button  */
.notificationbannerstatic-link {
  display: none;
  padding-right: 16px;
}

.notificationbannerstatic-link button {
  border: none;
  background-color: transparent;
  color: var(--color-functional-blue);
  text-decoration: underline dotted var(--color-functional-blue) 0.1rem;
  font-family: var(--font-family-link);
  font-weight: var(--font-weight-link);
  font-size: var(--font-size-link-large);
  padding: 0px;
  margin: 0px;
  height: 24px;
}

.notificationbannerstatic-close {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  padding-left: 12px;
  font-family: var(--font-family-link);
  font-weight: var(--font-weight-link);
  font-size: var(--font-size-link-medium);
  color: var(--color-primary-blue);
  letter-spacing: 1px;
}

.notificationbannerstatic-close span.material-icons {
  font-size: var(--font-size-icon-small);
  padding-left: 4px;
}

.notificationbannerstatic-link button:hover,
.notificationbannerstatic-close:hover {
  cursor: pointer;
}

.notificationbannerstatic-link button:hover {
  color: var(--color-primary-blue);
  text-decoration: underline solid var(--color-primary-blue) 0.1rem;
}

.notificationbannerstatic-close:hover {
  color: var(--color-functional-blue);
}

.notificationbannerstatic-close:hover .notificationbannerstatic-close-text {
  text-decoration: underline solid var(--color-functional-blue) 0.1rem;
}

.notificationbannerstatic-close:active,
.notificationbannerstatic-link button:active {
  color: var(--color-primary-blue);
}

.notificationbannerstatic-link button:active,
.notificationbannerstatic-close:active .notificationbannerstatic-close-text {
  text-decoration: underline solid var(--color-primary-blue) 0.1rem;
}

/* NotificationBanner is shown with animations */
.notificationbannerstatic-container.show-and-hide {
  display: inline-flex;
  animation: fadein 1s, fadeout 1s 5s forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}