<!DOCTYPE html>
<html>

<head></head>

<body>

  <!-- template for footer -->
  <template id="footerTemplate">

    <!-- html for footer here -->
    <!-- Footer is shared with all applications-->
    <div id="footer" class="footer">

      <!-- Footer fills user's viewport with empty filler-->
      <div class="footer-filler"></div>

      <!-- Footer content contains Melinda banner and NatLib banner -->
      <div class="footer-content">

        <!-- Melinda banner with four service info sections-->
        <div class="melinda-banner">

          <!-- Service logo and contact information -->
          <div id="melindaLogoAndContact" class="melinda-logo-and-contact-info">

            <div class="melinda-logo">
              <a href="/">
                <img src="/common/images/logo-melinda-text-vertical-white-cropped.png">
              </a>
            </div>

            <div class="melinda-contact-info">
              <div class="footer-heading-small">Sähköposti:</div>
              <a href="mailto:melinda-posti@helsinki.fi">
                <div class="footer-email">
                  melinda-posti@helsinki.fi
                </div>
              </a>
              <div class="footer-heading-small">Postiosoite:</div>
              <div class="footer-text">Kansalliskirjasto</div>
              <div class="footer-text">Melinda</div>
              <div class="footer-text">PL 15</div>
              <div class="footer-text">00014 Helsingin yliopisto</div>
            </div>

          </div>

          <!-- Service description -->
          <div id="melindaAbout" class="melinda-about">

            <div class="footer-heading">
              Melinda
            </div>

            <div class="footer-text">

              <div class="footer-paragraph">
                Melinda kokoaa kirjastoaineistoja kuvailevat metatiedot yhteen paikkaan.
                Melinda on järjestelmäriippumaton: kirjastot kuvailevat aineistonsa
                yhteiseen tietokantaan Melindan tarjoamassa työympäristössä. Metatiedoista
                kootaan kaikkien suomalaisten kirjastojen yhteinen metatietovaranto. Voit hakea tietoja
                Melindan yhteisestä tietokannasta Melinda-verkkokirjastosta.
              </div>

              <div class="footer-link-list">

                <a href="https://www.kansalliskirjasto.fi/fi/palvelut/melinda" target="_blank" rel=”noopener
                  noreferrer”>
                  <div class="footer-link">
                    <div class="footer-link-text">
                      Lisätietoa Melindasta
                    </div>
                    <div class="footer-link-icon icon-open-in-new">
                      <span class="material-icons link-icon-small">open_in_new</span>
                    </div>
                  </div>
                </a>

                <a href="https://www.kansalliskirjasto.fi/sv/tjanster/melinda" target="_blank" rel=”noopener
                  noreferrer”>
                  <div class="footer-link">
                    <div class="footer-link-text">
                      Om Melinda på svenska
                    </div>
                    <div class="footer-link-icon icon-open-in-new">
                      <span class="material-icons link-icon-small">open_in_new</span>
                    </div>
                  </div>
                </a>

                <a href="https://www.kansalliskirjasto.fi/en/services/melinda" target="_blank" rel=”noopener
                  noreferrer”>
                  <div class="footer-link">
                    <div class="footer-link-text">
                      About Melinda in English
                    </div>
                    <div class="footer-link-icon icon-open-in-new">
                      <span class="material-icons link-icon-small">open_in_new</span>
                    </div>
                  </div>
                </a>

              </div>

            </div>

          </div>

          <!-- Group of links related to service -->
          <div id="melindaLinks" class="melinda-links">

            <div class="footer-heading">
              Palvelut
            </div>

            <div class="footer-link-list">

              <a href="https://melinda.kansalliskirjasto.fi">
                <div class="footer-link">
                  <div class="footer-link-icon icon-arrow">
                    <span class="material-icons">east</span>
                  </div>
                  <div class="footer-link-text">
                    Melinda-verkkokirjasto
                  </div>
                </div>
              </a>

              <a href="/artikkelit">
                <div class="footer-link">
                  <div class="footer-link-icon icon-arrow">
                    <span class="material-icons">east</span>
                  </div>
                  <div class="footer-link-text">
                    Arto
                  </div>
                </div>
              </a>

              <a href="https://cyrillux.melinda.kansalliskirjasto.fi">
                <div class="footer-link">
                  <div class="footer-link-icon icon-arrow">
                    <span class="material-icons">east</span>
                  </div>
                  <div class="footer-link-text">
                    Cyrillux
                  </div>
                </div>
              </a>


              <a href="https://merge.melinda.kansalliskirjasto.fi">
                <div class="footer-link">
                  <div class="footer-link-icon icon-arrow">
                    <span class="material-icons">east</span>
                  </div>
                  <div class="footer-link-text">
                    Merge
                  </div>
                </div>
              </a>

              <a href="/muuntaja">
                <div class="footer-link">
                  <div class="footer-link-icon icon-arrow">
                    <span class="material-icons">east</span>
                  </div>
                  <div class="footer-link-text">
                    Muuntaja
                  </div>
                </div>
              </a>

              <a href="https://poistot.melinda.kansalliskirjasto.fi">
                <div class="footer-link">
                  <div class="footer-link-icon icon-arrow">
                    <span class="material-icons">east</span>
                  </div>
                  <div class="footer-link-text">
                    Poistot
                  </div>
                </div>
              </a>

              <a href="/viewer">
                <div class="footer-link">
                  <div class="footer-link-icon icon-arrow">
                    <span class="material-icons">east</span>
                  </div>
                  <div class="footer-link-text">
                    Viewer
                  </div>
                </div>
              </a>

            </div>

          </div>

          <!-- Social media links -->
          <div id="melindaSocialMedia" class="melinda-social-media">

            <div class="footer-heading">
              Linkit
            </div>

            <div class="footer-link-list">

              <a href="https://www.kiwi.fi/display/melinda" target="_blank" rel=”noopener noreferrer”>
                <div class="footer-link">
                  <div class="footer-link-text">
                    Melindan asiakaswiki
                  </div>
                  <div class="footer-link-icon icon-open-in-new">
                    <span class="material-icons link-icon-small">open_in_new</span>
                  </div>
                </div>
              </a>


              <a href=" https://www.kiwi.fi/pages/viewpage.action?pageId=50168396" target="_blank" rel=”noopener
                noreferrer”>
                <div class="footer-link">
                  <div class="footer-link-text">
                    Usein kysyttyä
                  </div>
                  <div class="footer-link-icon icon-open-in-new">
                    <span class="material-icons link-icon-small">open_in_new</span>
                  </div>
                </div>
              </a>

              <a href="https://www.kiwi.fi/display/melinda/Kansallinen+metatietovaranto+-hanke" target="_blank"
                rel=”noopener noreferrer”>
                <div class="footer-link">
                  <div class="footer-link-text">
                    Kansallinen metatietovaranto -hanke
                  </div>
                  <div class="footer-link-icon icon-open-in-new">
                    <span class="material-icons link-icon-small">open_in_new</span>
                  </div>
                </div>
              </a>

              <a href="https://www.kiwi.fi/display/melinda/Tietosuojailmoitukset" target="_blank" rel=”noopener
                noreferrer”>
                <div class="footer-link">
                  <div class="footer-link-text">
                    Tietosuojailmoitukset
                  </div>
                  <div class="footer-link-icon icon-open-in-new">
                    <span class="material-icons link-icon-small">open_in_new</span>
                  </div>
                </div>
              </a>

              <a href="https://www.kiwi.fi/display/melinda/Saavutettavuusselosteet" target="_blank" rel=”noopener
                noreferrer”>
                <div class="footer-link">
                  <div class="footer-link-text">
                    Saavutettavuusselostukset
                  </div>
                  <div class="footer-link-icon icon-open-in-new">
                    <span class="material-icons link-icon-small">open_in_new</span>
                  </div>
                </div>
              </a>


            </div>

          </div>

        </div>

        <!-- NatLib banner to identify the site as a National Library service -->
        <div class="natlib-banner">

          <!-- NatLib logo -->
          <div id="natLibLogo" class="natlib-logo">
            <a href="https://www.kansalliskirjasto.fi" target="_blank" rel=”noopener noreferrer”>
              <img src="/common/images/KK_logo_keskitetty_sf_swe_rgb_white.png">
            </a>
          </div>

          <!-- NatLib text -->
          <div id="natLibText" class="natlib-text">
            Palvelun tarjoaa Kansalliskirjasto
          </div>

          <!-- Link to service provider -->
          <div id="natLibLink" class="natlib-link">
            <a href="https://www.kansalliskirjasto.fi" target="_blank" rel=”noopener noreferrer”>
              <div class="footer-link">
                <div class="footer-link-text">
                  kansalliskirjasto.fi
                </div>
                <div class="footer-link-icon icon-open-in-new">
                  <span class="material-icons link-icon-small">open_in_new</span>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>

    </div>

  </template>

</body>

</html>