<!-- Melinda navigation bar template for apps -->

<!DOCTYPE html>
<html>

<head></head>

<body>

  <!-- template for navbar -->
  <template id="navbarTemplate">

    <!-- html for navbar here -->
    <!-- Navbar is shared with all applications -->
    <div id="navbar" class="navbar">

      <!-- Navbar contains two menu bars, primary and secondary -->
      <div class="navbar-menu-bars">

        <!-- Primary menu bar contains Melinda logo and primary navigation links -->
        <div class="primary-menu-bar">

          <div class="logo-area">
            <a href="/">
              <img src="/common/images/logo-melinda-text-horizontal-color-cropped.png">
            </a>
          </div>

          <div class="primary-navigation-links">

            <!-- link to instructions  -->
            <a href="https://www.kiwi.fi/display/melinda/Ohjeet" target="_blank" rel="noopener noreferrer">
              <div class="nav-link" title="Avautuu uuteen välilehteen">
                <div class="nav-link-icon">
                  <span class="material-icons">help_outline</span>
                </div>
                <div class="nav-link-text outer-link">
                  Ohjeet
                  <div class="nav-link-icon">
                    <span class="material-icons open-in-new">open_in_new</span>
                  </div>
                </div>
              </div>
            </a>

            <!-- language selection  -->
            <div class="nav-link link-disabled" title="Palvelu on saatavilla vain suomeksi" disabled="true">
              <div class="nav-link-icon">
                <span class="material-icons">language</span>
              </div>
              <div class="nav-link-text">
                Suomeksi
              </div>
            </div>

            <!-- user profile dropdown menu button -->
            <div id="accountMenu" class="account-menu navbar-dropdown-button">
              <div class="nav-link">
                <div class="nav-link-icon">
                  <span class="material-icons">person_outline</span>
                </div>
                <div id="username" class="nav-link-text">
                  <!-- Display user name here after login -->
                </div>
                <div class="nav-link-icon expand-more show">
                  <span class="material-icons">expand_more</span>
                </div>
                <div class="nav-link-icon expand-less">
                  <span class="material-icons">expand_less</span>
                </div>
              </div>
            </div>


            <!-- ON HOLD: logout as separate button in primary navigation bar  -->
            <!-- 
            <div class="nav-link" onClick="onAccount(event)">
              <div class="nav-link-icon">
                <span class="material-icons">logout</span>
              </div>
              <div class="nav-link-text">
                Kirjaudu ulos
              </div>
            </div>
 -->

          </div>

        </div>

        <!-- Secondary menu bar contains secondary navigation links: path for navigation (faux breadcrumb) and app selection -->
        <div class="secondary-menu-bar">

          <div class="secondary-navigation-links">

            <!-- breadcrumb-->
            <div class="app-navigation">

              <!-- link to home -->
              <a href="/">
                <div class="nav-link">
                  <div class="nav-link-icon">
                    <span class="material-icons">home</span>
                  </div>
                  <div class="nav-link-text">
                    ETUSIVU
                  </div>
                </div>
              </a>

              <div class="nav-slash">
                /
              </div>

              <!-- link to current app -->
              <a id="appLink">
                <div class="nav-link app-name">
                  <div id="appName" class="nav-link-text">
                    <!-- Displays current app's name here -->
                  </div>
                </div>
              </a>

              <!-- only if app is not found, show this go back function instead of app name -->
              <div id="goBack" class="nav-link" onClick="return goBack(event)">
                <div class="nav-link-icon">
                  <span class="material-icons">undo</span>
                </div>
                <div class="nav-link-text">
                  EDELLINEN SIVU
                </div>
              </div>

            </div>

            <!-- filler between breadcruom and app selection menu -->
            <div class="Filler VBox"></div>

            <!-- app selection dropdown menu button-->
            <div id="appSelectionMenu" class="app-selection navbar-dropdown-button">
              <div class="nav-link">
                <div class="nav-link-icon">
                  <span class="material-icons">apps</span>
                </div>
                <div class="nav-link-text">
                  Valitse aputyökalu
                </div>
                <div class="nav-link-icon expand-more show">
                  <span class="material-icons">expand_more</span>
                </div>
                <div class="nav-link-icon expand-less">
                  <span class="material-icons">expand_less</span>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

      <!-- dropdown menu for user profile and account functions (including logout) -->
      <!-- this dropdown menu can be opened from primary navigation bar button -->
      <div id="accountMenuDropdown" class="primary-menu-bar-dropdown navbar-dropdown-menu" style="display: none">
        <div class="dropdown-inner">

          <div class="dropdown-inner-content">

            <div class="dropdown-info">

              <div class="info-title">
                Käyttäjäprofiili
              </div>

              <div class="info-content">
                <div class="info-paragraph">
                  Vaihda oman Melinda-tunnuksesi salasanaa tai kirjaudu ulos.
                </div>
                <div class="info-paragraph">
                  Organisaation pääkäyttäjä saa Melindan pääkäyttäjätunnuksen (admin), joilla voi tavanomaisen
                  kuvailutyön lisäksi myös hallinnoida oman organisaation muita Melinda-käyttäjiä.
                </div>
              </div>

            </div>

            <div class="dropdown-items">

              <div class="dropdown-item">

                <a href="https://asetukset.melinda.kansalliskirjasto.fi/" target="_blank" rel="noopener noreferrer"
                  title="Avautuu uuteen välilehteen">
                  <div class="item-header">
                    <div class="item-header-title outer-link">
                      Muuta salasanaa
                      <div class="nav-link-icon">
                        <span class="material-icons open-in-new">open_in_new</span>
                      </div>
                    </div>
                    <div class="item-header-icon icon-arrow">
                      <span class="material-icons">east</span>
                    </div>
                  </div>
                </a>

                <div class="item-content">
                  <div class="item-content-paragraph">
                    Vaihda Melinda-tunnuksesi salasanaa.
                  </div>
                  <div class="item-content-paragraph">
                    Salasananvaihtotyökalu avautuu uuteen välilehteen.
                  </div>
                  <div class="item-content-paragraph">
                    Vinkkejä uuteen salasanaan ja muita ohjeita
                    salasanan vaihtamiseen löydät
                    <a href="https://www.kiwi.fi/display/melinda/Salasanan+vaihtaminen" target="_blank"
                      rel="noopener noreferrer">
                      Melindan asiakaswikistä.
                    </a>
                  </div>
                </div>

              </div>

              <div class="dropdown-item">

                <a href="https://melinda.kansalliskirjasto.fi/users/" target="_blank" rel="noopener noreferrer"
                  title="Avautuu uuteen välilehteen">
                  <div class="item-header">
                    <div class="item-header-title outer-link">
                      Käyttäjänhallinta
                      <div class="nav-link-icon">
                        <span class="material-icons open-in-new">open_in_new</span>
                      </div>
                    </div>
                    <div class="item-header-icon icon-arrow">
                      <span class="material-icons">east</span>
                    </div>
                  </div>
                </a>

                <div class="item-content">
                  <div class="item-content-paragraph">
                    Työkalu käyttäjien hallintaan. Työkalun käyttö on rajattu vain organisaation admin-käyttäjille.
                  </div>
                  <div class="item-content-paragraph">
                    Käyttäjänhallintatatyökalu avautuu uuteen välilehteen.
                  </div>
                  <div class="item-content-paragraph">
                    Melindan pääkäyttäjät voivat lisätä organisaatioonsa uusia käyttäjiä, muokata käyttäjien oikeuksia
                    ja poistaa vanhentuneita käyttäjätietoja. Lisätietoja pääkäyttäjille
                    <a href="https://www.kiwi.fi/pages/viewpage.action?pageId=167870625" target="_blank"
                      rel="noopener noreferrer">
                      Melindan asiakaswikistä.
                    </a>
                  </div>
                </div>

              </div>

              <div class="dropdown-item logout">

                <div class="item-header" onClick="onAccount(event)">
                  <div class="item-header-title">
                    Kirjaudu ulos
                  </div>
                  <div class="item-header-icon icon-arrow">
                    <span class="material-icons">logout</span>
                  </div>
                </div>

                <div class="item-content">
                  <div class="item-content-paragraph">
                    Kirjaudu ulos aputyökaluista.
                  </div>
                </div>

              </div>

            </div>

          </div>

          <div class="dropdown-button-close">

            <div class="button-close-icon">
              <span class="material-icons close-icon">close</span>
            </div>

            <div class="button-close-text">
              Sulje
            </div>

          </div>

        </div>
      </div>

      <!-- dropdown for browsing app selection and navigating to an app -->
      <!-- this dropdown menu can be opened from secondary navigation bar button -->
      <div id="appSelectionMenuDropdown" class="secondary-menu-bar-dropdown navbar-dropdown-menu" style="display: none">
        <div class="dropdown-inner">

          <div class="dropdown-inner-content">

            <div class="dropdown-info">
              <div class="info-title">
                Melinda-kuvailijan aputyökalut
              </div>
              <div class="info-content">
                <div class="info-paragraph">
                  Melinda on tiedonkuvailijoiden toimintaympäristö. Melinda-kuvailun perimmäinen tarkoitus on helpottaa
                  ja nopeuttaa kuvailutietojen tallennusprosessia, kun aineiston kuvailu ei ole vain yksittäisen
                  organisaation kuvailijoiden vastuulla.
                </div>
                <div class="info-paragraph">
                  Melinda-metatietovarannossa säilytetään kuvailutietojen
                  masterdata. Kaikki metatietovarantoon aineistoa kuvailevat voivat muokata tietueita voimassa olevien
                  kuvailusääntöjen ja formaatin mukaisesti.
                </div>
              </div>
            </div>

            <div class="dropdown-items">

              <div class="dropdown-item">

                <a href="/muuntaja">
                  <div class="item-header">
                    <div class="item-header-title">
                      Muuntaja
                    </div>
                    <div class="item-header-icon icon-arrow">
                      <span class="material-icons">east</span>
                    </div>
                  </div>
                </a>

                <div class="item-content">
                  <div class="item-content-paragraph">
                    Muuntaja on Kansalliskirjastossa kehitetty ohjelma tietueiden muuntamiseen aineistotyypistä toiseen.
                    Voit muuntaa painetun version tietueita verkkojulkaisuiksi ja verkkojulkaisujen tietueita
                    painetuiksi. Muokatut tietueet päivittyvät Melindaan.
                  </div>
                  <div class="item-content-paragraph">
                    Lue lisää ohjeita <a
                      href="https://www.kiwi.fi/display/melinda/Muuntaja-ohjelma%3A+tietueiden+muunnokset"
                      target="_blank" rel="noopener noreferrer">Melindan
                      asiakaswikistä.</a>
                  </div>
                </div>

              </div>

              <div class="dropdown-item">

                <a href="/artikkelit">
                  <div class="item-header">
                    <div class="item-header-title">
                      Artikkelien kuvailutyökalu
                    </div>
                    <div class="item-header-icon icon-arrow">
                      <span class="material-icons">east</span>
                    </div>
                  </div>
                </a>

                <div class="item-content">
                  <div class="item-content-paragraph">
                    Artikkelien kuvailutyökalu tarjoaa helppokäyttöisen tavan tallentaa kotimaisten tieteellisten
                    artikkelien tietoja Melindaan. Kuvailutyökalua hyödyntävät kirjastot, tiedekustantajat ja muut alan
                    toimijat. Viitteet ovat haettavissa esimerkiksi Finnassa.
                  </div>
                  <div class="item-content-paragraph">
                    Lue lisää ohjeita <a href="https://www.kiwi.fi/pages/viewpage.action?pageId=155648846"
                      target="_blank" rel="noopener noreferrer">Melindan
                      asiakaswikistä.</a>
                  </div>
                </div>

              </div>

              <div class="dropdown-item">

                <a href="/edit">
                  <div class="item-header">
                    <div class="item-header-title">
                      Muokkaus
                    </div>
                    <div class="item-header-icon icon-arrow">
                      <span class="material-icons">east</span>
                    </div>
                  </div>
                </a>

                <div class="item-content">
                  <div class="item-content-paragraph">
                    Työkalun kuvaus.
                  </div>
                  <div class="item-content-paragraph">
                    Linkki ohjeeseen.
                  </div>
                </div>

              </div>


              <div class="dropdown-item">

                <a href="">
                  <div class="item-header">
                    <div class="item-header-title">
                      Merge
                    </div>
                    <div class="item-header-icon icon-arrow">
                      <span class="material-icons">east</span>
                    </div>
                  </div>
                </a>

                <div class="item-content">
                  <div class="item-content-paragraph">
                    Mergen avulla voi yhdistää Melindan tuplatietueita. Mergeä voidaan käyttää myös
                    emo-osakohdeperheiden yhdistämiseen. Mergellä tietueisiin tehdyt muutokset päivittyvät suoraan
                    Melindaan.
                  </div>
                  <div class="item-content-paragraph">
                    Lue lisää ohjeita <a href="https://www.kiwi.fi/pages/viewpage.action?pageId=77365409"
                      target="_blank" rel="noopener noreferrer">Melindan
                      asiakaswikistä.</a>
                  </div>
                </div>

              </div>


              <div class="dropdown-item">

                <a href="/viewer">
                  <div class="item-header">
                    <div class="item-header-title">
                      Viewer
                    </div>
                    <div class="item-header-icon icon-arrow">
                      <span class="material-icons">east</span>
                    </div>
                  </div>
                </a>

                <div class="item-content">
                  <div class="item-content-paragraph">
                    Vieweriä hyödynnetään tietuetietokannan teknisessä tarkastelussa ja Melindan ylläpidossa.
                  </div>
                </div>

              </div>

            </div>

          </div>

          <div class="dropdown-button-close">

            <div class="button-close-icon">
              <span class="material-icons close-icon">close</span>
            </div>

            <div class="button-close-text">
              Sulje
            </div>

          </div>

        </div>
      </div>

    </div>

  </template>

</body>

</html>