<!DOCTYPE html>
<html>

<head></head>

<body>

  <!--Banner Template-->
  <template id="bannerTemplate">
    <div id="banner" class="notificationbanner-container">
      <div class="notificationbanner-icon">
        <span class="material-icons">error_outline</span>
      </div>
      <div class="notificationbanner-text"></div>
      <div class="notificationbanner-link"></div>
      <div class="notificationbanner-close">
        <div class="notificationbanner-close-text">
          Sulje
        </div>
        <span class="material-icons notificationbanner-close-icon">close</span>
      </div>
    </div>
  </template>

  <!--Banner Static Template-->
  <template id="bannerStaticTemplate">
    <div id="bannerStatic">
      <div class="notificationbannerstatic-bg">
        <div class="notificationbannerstatic-container">
            <div class="notificationbannerstatic-icon">
                <span class="material-icons">error_outline</span>
            </div>
            <div class="notificationbannerstatic-text"></div>
            <div class="notificationbannerstatic-link"></div>
        </div>
      </div>
    </div>
  </template>

  <!--Dialog Template-->
  <template id="dialogTemplate">
    <div id="dialog" class="notificationdialog-container">
      <div class="notificationdialog-header">
        <div class="notificationdialog-icon">
          <span class="material-icons">error_outline</span>
        </div>
        <div class="notificationdialog-title"></div>
        
        <div class="notificationdialog-close">
          <div class="notificationdialog-close-text">
            Sulje
          </div>
          <span class="material-icons notificationdialog-close-icon">close</span>
        </div>
      </div>

      <div class="notificationdialog-body">
        <div class="notificationdialog-text"></div>
        <div class="notificationdialog-link"></div>
      </div>

    </div>
  </template>
</body>

</html>