<!DOCTYPE html>
<html>

<head></head>

<body>

  <!--Banner Template-->
  <template id="bannerTemplate">
    <div id="banner" class="banner-container">
        <p>Here banner content</p>
    </div>
  </template>

  <!--Banner Static Template-->
  <template id="bannerStaticTemplate">
    <div id="bannerStatic" class="bannerStatic-container">
        <p>Here banner static content</p>
    </div>
  </template>

  <!--Dialog Template-->
  <template id="dialogTemplate">
    <div id="dialog" class="dialog-container">
        <p>Here dialog content</p>
    </div>
  </template>
</body>

</html>