<!DOCTYPE html>
<html>

<head></head>

<body>

  <!-- template for a notificationBanner container -->
  <!-- all notificationBanners are rendered in "notificationBanners" container div -->
  <template id="notificationBannerTemplate">

    <!-- base for one notificationBanner -->
    <!-- one notificationBanner has always text, the message for user -->
    <!-- notificationBanner has optionally link button for additional action -->
    <!-- and always a close button for dismissing the notificationBanner -->

    <div id="notificationBanner" class="notificationbanner-container">
      <div class="notificationbanner-icon">
        <span class="material-icons">error_outline</span>
      </div>
      <div class="notificationbanner-text"></div>
      <div class="notificationbanner-link"></div>
      <div class="notificationbanner-close">
        <div class="notificationbanner-close-text">
          Sulje
        </div>
        <span class="material-icons notificationbanner-close-icon">close</span>
      </div>
    </div>

  </template>

</body>

</html>