<!DOCTYPE html>
<html>

<head></head>

<body>

  <!-- template for a notificationDialog container -->
  <!-- all notificationDialogs are rendered in "notificationDialogs" container div -->
  <template id="notificationDialogTemplate">

    <!-- base for one notificationDialog -->
    <!-- one notificationDialog has always text, the message for user -->
    <!-- notificationDialog has optionally link button for additional action -->
    <!-- and always a close button for dismissing the notificationDialog -->

    <div id="notificationDialog" class="notificationdialog-container">
      <div class="notificationdialog-header">
        <div class="notificationdialog-icon">
          <span class="material-icons">error_outline</span>
        </div>
        <div class="notificationdialog-title"></div>
        
        <div class="notificationdialog-close">
          <div class="notificationdialog-close-text">
            Sulje
          </div>
          <span class="material-icons notificationdialog-close-icon">close</span>
        </div>
      </div>

      <div class="notificationdialog-body">
        <div class="notificationdialog-text"></div>
        <div class="notificationdialog-link"></div>
      </div>

    </div>

  </template>

</body>

</html>