<!DOCTYPE html>
<html>

<!-- -------------------------------------------------------------------------- -->
<!-- Head -->
<!-- -------------------------------------------------------------------------- -->

<head>
  <title>Sivua ei löytynyt | Melinda</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/../common/images/favicon.ico" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Public+Sans:wght@300;500;600&family=Roboto+Mono&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/../common/stylesheets/pageNotFound.css" />

  <script type="module" src="/../common/pageNotFound.js"></script>
  <script src="/../common/navbar.js"></script>
  <script src="/../common/footer.js"></script>


</head>

<!-- -------------------------------------------------------------------------- -->
<!-- Body -->
<!-- -------------------------------------------------------------------------- -->

<body onload="initialize()">

  <div id="bodywrapper" class="viewport-full VBox">

    <!-- ------------------------------------------------------------------------ -->
    <!-- Navigation bar -->
    <melinda-navbar></melinda-navbar>

    <!-- ------------------------------------------------------------------------ -->
    <!-- Progress bar -->
    <div id="progressbar" class="progress-bar-inactive"></div>

    <!-- ------------------------------------------------------------------------ -->
    <!-- Application "tabs" -->
    <div id="root">

      <!-- ---------------------------------------------------------------------- -->
      <!-- Loading "screen" -->
      <div id="loading"></div>

      <!-- ---------------------------------------------------------------------- -->
      <!-- Login tab -->
      <form id="login" class="VBox modal-content BoxShadow" style="display: none;">
        <div class="VBox Input">
          <label for="username">Käyttäjätunnus</label>
          <input id="login-username" name="username" autofocus autocomplete="username" />
        </div>
        <div class="VBox Input">
          <label for="password">Salasana</label>
          <input id="login-password" type="password" name="password" autocomplete="current-password" />
        </div>
        <div class="HBox Input" style="align-items: baseline;">
          <input id="acceptterms" type="checkbox">
          <label for="acceptterms" style="padding-left: 8px;">
            Hyväksyn
            <a href="https://www.kiwi.fi/pages/viewpage.action?pageId=148177248" target="_blank">
              tietosuojaselosteen</a>
            ja evästeiden käytön.
            <br /><br />
            Evästeitä käytetään käyttäjän autentikoimiseen istunnon aikana.</label>
        </div>
        <div id="info"></div>
        <div style="display: flex; flex-direction: column; align-items: flex-end;">
          <button onClick="return login(event)">Kirjaudu</button>
        </div>
      </form>

      <!-- ---------------------------------------------------------------------- -->
      <!-- Page not found tab -->
      <div id="pageNotFound" hidden>

        <!-- ------------------------------------------------------------------------ -->
        <!-- General info about page not found and contact information -->
        <div id="pageNotFoundInfo" class="VBox BoxShadow">

          <h3>Valitettavasti etsimääsi sivua ei löytynyt!<span id="sadFaceIcon"
              class="material-icons">sentiment_dissatisfied</span></h3>

          <p class="outer-link">
            <img src="/common/images/logo-melinda-favicon-color-cropped.png">
            Tarvitsetko apua? Ota yhteyttä: <a href="mailto:melinda-posti@helsinki.fi">melinda-posti@helsinki.fi
              <span class="material-icons open-in-new">open_in_new</span>
            </a>
          </p>

          <p class="outer-link">
            <img src="/common/images/logo-melinda-favicon-color-cropped.png">
            Täältä löydät kaikki Melinda-palvelun yhteystiedot: <a
              href="https://www.kiwi.fi/display/melinda/Yhteystiedot" target="_blank"
              rel="noopener noreferrer" title="Avautuu uuteen välilehteen">https://www.kiwi.fi/display/melinda/Yhteystiedot
              <span class="material-icons open-in-new">open_in_new</span></a>
          </p>

        </div>

        <!-- For displaying info message for user -->
        <div id="snackbars" class="snackbars"></div>

      </div>

    </div>

    <!-- ------------------------------------------------------------------------ -->
    <!-- Footer -->
    <melinda-footer class="Filler VBox"></melinda-footer>

  </div>

</body>

</html>