<!DOCTYPE html>
<html>

<head></head>

<body>

  <!-- template for a snackbar container -->
  <!-- all snackbars are rendered in "snackbars" container div -->
  <template id="snackbarTemplate">

    <!-- base for one snackbar -->
    <!-- one snackbar has always supporting text, the message for user -->
    <!-- snackbar has optionally also action button and icon for closing the snackbar -->
    <div id="snackbar" class="snackbar-container">
      <div class="snackbar-supporting-text"></div>
      <div class="snackbar-action"></div>
      <div class="snackbar-icon">
        <button class="material-icons">close</button>
      </div>
    </div>

  </template>

</body>

</html>