
/* ---------------------------------------------------------------------------- */
/* Styles for MARC records */

.marc-record, .marc-record * {
  font-family: "Roboto Mono", monospace;
  font-size: 14.5px;
}

.marc-record .row-toggable {
  border: 1px white solid;
}

.marc-record .row-toggable:hover {
  border: 1px dashed grey;
}

.marc-record .row-selected {
  background-color: #b2dfdb60;
}

.marc-record .row-unselected {
  color:gray;
}

.marc-record .row:hover {
  background-color: rgb(201, 231, 241);
}

/*
#result .marc-record .row-unselected {
  display: none;
}
*/

.marc-record .row .tag {
  color: #448aff;
  margin-right: 12pt;
}

.marc-record .row .inds {
  color: #448aff;
  margin-right: 12pt;
}

.marc-record .row .subfield {
  margin-right: 4px;
}

.marc-record .row .subfield .code {
  color: #e57373;
  margin-right: 2px;
}

/* ---------------------------------------------------------------------------- */
/* Styles for MARC record field edit */

.fieldedit {
  /* border: 1px solid grey; */
  margin: 2px;
  padding: 2px;
}

.fieldedit .tagrow {
  /* border: 1px solid grey; */
  margin: 2px;
  padding: 2px;
}

.fieldedit .subfields {
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.fieldedit .subfields .row {
  padding: 8px;
}

.fieldedit .subfields .row:not(:first-child) {
  /* border-top: 1px solid lightgray; */
}

.fieldedit .subfields .row:hover {
  background-color: lightgray;
}

.fieldedit .subfields .ghost-row {
  border: 1px solid grey;
  margin: 2px;
  padding: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: lightblue;
}

.fieldedit .tag,
.fieldedit .ind,
.fieldedit .code,
.fieldedit .value
{
  border: 1px solid grey;
  margin: 2px;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  /* background-color: lightgrey; */
}