
/* ---------------------------------------------------------------------------- */
/* Styles for MARC records */

.marc-record, .marc-record * {
  font-family: "Roboto Mono", monospace;
  font-size: 14.5px;
}

.marc-record .row-toggable {
  border: 1px white solid;
}

.marc-record .row-toggable:hover {
  border: 1px dashed grey;
}

.marc-record .row-selected {
  background-color: #b2dfdb60;
}

.marc-record .row-unselected {
}

.marc-record .row:hover {
  background-color: rgb(201, 231, 241);
}

#result .marc-record .row-unselected {
  display: none;
}

.marc-record .row .tag {
  color: #448aff;
  margin-right: 12pt;
}

.marc-record .row .inds {
  color: #448aff;
  margin-right: 12pt;
}

.marc-record .row .subfield {
  margin-right: 4px;
}

.marc-record .row .subfield .code {
  color: #e57373;
  margin-right: 2px;
}
