/* CSS file for muuntaja */

@import "generics.css";
@import "components.css";
@import "navbar.css";
@import "marc.css";

/* ---------------------------------------------------------------------------- */

div#loading {
}

/* ---------------------------------------------------------------------------- */

#login {
  margin: 50px auto;
  max-width: 400px;
  padding: 8px;
}

#login > * {
  padding: 8px 0;
  margin-bottom: 16px;
}

#login input {
  font-size: 16pt;
  padding-top: 4px;
  background-color: rgb(232, 240, 254);
  font-size: 2rem;
  border-bottom: 1px solid #4caf50;
  -webkit-box-shadow: 0 1px 0 0 #4caf50;
  box-shadow: 0 1px 0 0 #4caf50;
}

/* ---------------------------------------------------------------------------- */

div#muuntaja {

}

#muuntaja .record-merge-panel {
  display: flex;
  flex-direction: row;
}

.record-merge-panel .col {
  width: 33%;
  display: flex;
  flex-direction: column;
  margin: 8pt;
}

.col > * {
  padding: 8pt;
}

.col .header {
  height: 48px;
  border-bottom: 1px solid lightgrey;
  align-items: center;
}

.header .material-icons {
  padding: 8px;
  font-size: 32px;
}

.header label {
  font-size: 12pt;
  /*color: grey;*/
}
