/* ---------------------------------------------------------------------------- */
/* Styles for MUUNTAJA app                                                      */
/* ---------------------------------------------------------------------------- */



@import "/common/stylesheets/common.css";

/* ---------------------------------------------------------------------------- */


div#loading {}

/* ---------------------------------------------------------------------------- */

div#muuntaja {}

#muuntaja .record-merge-panel {
  display: flex;
  flex-direction: row;
}

.record-merge-panel .col {
  width: 33%;
  display: flex;
  flex-direction: column;
  margin: 8pt;
}

.col>* {
  padding: 8pt;
}

.col .header {
  height: 48px;
  border-bottom: 1px solid lightgrey;
  align-items: center;
}

.header .material-icons {
  padding: 8px;
}

.header label {
  font-size: 12pt;
  /*color: grey;*/
}

.Select {
  padding-right: 5px;
  padding-left: 5px;
}

.ToolBar button {
  font-size: var(--font-size-icon-normal);
  font-weight: var(--font-weight-icon);
}

#type-options select,
#profile-options select {
  margin-right: 1ch;
  height: 24px;
}

.popup {
  opacity: 0;
  position: absolute;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  right: 21%;
  top: 9.5%;
  font-size: medium;
}

.fading {
  animation-name: fade;
  animation-duration: 4s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}