/* ---------------------------------------------------------------------------- */
/* Styles for ARTIKKELIT app                                                    */
/* ---------------------------------------------------------------------------- */



@import "/common/stylesheets/common.css";

/* ---------------------------------------------------------------------------- */


div#loading {}

/* ---------------------------------------------------------------------------- */

div#tools {}

.tools {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
}

/* ---------------------------------------------------------------------------- */

div#muuntaja {}

/* ---------------------------------------------------------------------------- */
/* Tooltips, overwritten specifically for Arto */
/* ---------------------------------------------------------------------------- */

.tooltip:hover:after {
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0px 4px 4px 0px;
  font-size: 0.6em;
}

/* ---------------------------------------------------------------------------- */

@media screen and (min-width: 1100px) {
  #artikkelit-lisaa .record-merge-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .record-merge-panel .col {
    width: 32vw;
    display: flex;
    flex-direction: column;
    padding: 0.5vw;
  }

  .record-merge-panel>div:first-of-type {
    width: 64vw;
    display: flex;
    flex-direction: column;
    padding: 0.5vw;
  }
}

@media screen and (max-width: 1099px) {
  #artikkelit-lisaa .record-merge-panel {
    display: flex;
    flex-direction: column;
  }

  .record-merge-panel .col {
    width: 99vw;
    display: flex;
    flex-direction: column;
    padding: 0.5vw;
  }
}

.col>* {
  padding: 8pt;
}

.header {
  text-transform: uppercase;
  font-family: var(--font-family-headline);
  font-size: var(--font-size-headline-medium);
  font-weight: var(--font-weight-headline);
  line-height: var(--font-line-height-headline-medium);
  border-bottom: 1px solid lightgrey;
  align-items: center;
  display: flex;
}

.hidden {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
}

.header .material-icons {
  font-size: var(--font-size-icon-medium);
}

.header label {
  font-size: var(--font-size-label-medium);
  font-weight: var(--font-weight-label);
  line-height: var(--font-line-height-label-medium);
  /*color: grey;*/
}

.half-width {
  width: 50%;
}

.full-width {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}

.full-width label {
  overflow: visible;
  white-space: nowrap;
}

.full-width select {
  width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

.full-width select option {
  overflow: hidden;
  text-overflow: ellipsis;
}

.full-width p {
  margin: 0px;
}

.full-width p:last-of-type {
  flex-grow: 1;
}

.capitalize {
  text-transform: capitalize;
}

fieldset {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
  border-radius: 8px;
}

fieldset legend {
  font-size: var(--font-size-title-medium);
  font-weight: var(--font-weight-title);
}

fieldset .panel {
  width: 49%;
  align-items: center;
}

fieldset .panel>.full-width {
  display: flex;
}

fieldset .panel label {
  display: inline-flex;
  font-family: var(--font-family-label);
  text-align: end;
  margin-right: 10px;
  line-height: var(--font-line-height-label-medium);
  color: rgb(48, 93, 109);
}

fieldset .panel p {
  display: inline-flex;
  line-height: var(--font-line-height-content-medium);
}

.long-text {
  word-break: normal;
  -webkit-hyphens: auto;
  hyphens: auto;
  flex-grow: 1;
}

.label-text {
  color: rgb(48, 93, 109);
  font-family: var(--font-family-label);
  font-size: var(--font-size-label-medium);
  font-weight: var(--font-weight-label);
}

label.label-text {
  margin-right: 8px;
}

.title-text {
  color: rgb(48, 93, 109);
  font-family: var(--font-family-title);
  font-size: var(--font-size-title-medium);
  font-weight: var(--font-weight-title);

}

.content-text {
  color: rgb(0, 0, 0);
  font-family: var(--font-family-content);
  font-size: var(--font-size-content-medium);
  font-weight: var(--font-weight-content);
}

.bold-text {
  font-weight: bold;
}

.justify-content-end {
  display: inline-flex;
  justify-content: end;
}

.justify-content-end>form {
  width: auto;
}

#artikkelin-osasto-toistuva-wrap,
#tieteenalat-list,
#metodologiat-list,
#tekija-organisaatiot-list,
#tekija-list,
#tiivistelmat-list,
#asiasana-list,
#huomautukset-list,
#udk-list,
#muu-luokitus-list,
#arvostelut-list {
  width: 100%;
}

.character-warning {
  background-color: #F99;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0
}

input[type=number] {
  -moz-appearance: textfield;
}