/* CSS file for muuntaja */

@import "/common/stylesheets/common.css";

/* ---------------------------------------------------------------------------- */

div#loading {}

/* ---------------------------------------------------------------------------- */

div#tools {}

.tools .ToolBar .Input>label {
  color: rgb(48, 93, 109);
  font-family: roboto_monoregular, "Roboto Mono", monospace;
  font-size: 0.8em;
  text-align: center;
}

.tools .ToolBar .Input>input {
  border: 0;
  border-bottom: 1pt solid grey;
  outline: none;
  font-family: roboto_monoregular, "Roboto Mono", monospace;
  font-size: 1em;
  width: 37ch;
}

.tools .ToolBar .Select>label,
.header .Select>label {
  color: rgb(48, 93, 109);
  font-family: roboto_monoregular, "Roboto Mono", monospace;
  font-size: 0.8em;
  text-align: center;
  text-transform: none;
}

.tools .ToolBar .Select>select,
.header .Select>select {
  border: 0;
  border-bottom: 1pt solid grey;
  outline: none;
  font-family: roboto_monoregular, "Roboto Mono", monospace;
  font-size: 1em;
}

.tools #sequence {
  width: 6ch;
  text-align: end;
  margin-left: 1ch;
}

.tools #logType {
  text-align: end;
  margin-right: 1ch;
}

.tools>.dropdown,
.tools>.dropdown>button {
  height: 40px;
  font-size: 32px;
}

.tools {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  font-size: 32px;
  height: 40px;
}

/* ---------------------------------------------------------------------------- */

div#muuntaja {}

@media screen and (min-width: 1100px) {
  #artikkelit-lisaa .record-merge-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .record-merge-panel .col {
    width: 32vw;
    display: flex;
    flex-direction: column;
    padding: 0.5vw;
  }

  .record-merge-panel>div:first-of-type {
    width: 64vw;
    display: flex;
    flex-direction: column;
    padding: 0.5vw;
  }
}

@media screen and (max-width: 1099px) {
  #artikkelit-lisaa .record-merge-panel {
    display: flex;
    flex-direction: column;
  }

  .record-merge-panel .col {
    width: 99vw;
    display: flex;
    flex-direction: column;
    padding: 0.5vw;
  }
}

.col>* {
  padding: 8pt;
}

.col .header {
  height: 40px;
  text-transform: uppercase;
  font-family: roboto_monoregular, "Roboto Mono", monospace;
  border-bottom: 1px solid lightgrey;
  align-items: center;
  display: flex;
}

.col .header .title {
  flex: 4;
}

.col .hidden {
  display: none;
}

.col form {
  width: 100%;
}

.header .material-icons {
  padding: 8px;
  font-size: 32px;
}

.header label {
  font-size: 12pt;
  /*color: grey;*/
}

.half-width {
  width: 50%;
}

.full-width {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  line-height: 20px;
}

.full-width label {
  overflow: visible;
  white-space: nowrap;
}

.full-width select {
  width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

.full-width select option {
  overflow: hidden;
  text-overflow: ellipsis;
}

.full-width p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.full-width p:last-of-type {
  flex-grow: 1;
}

.full-width button {
  margin-left: 8px;
}

.capitalize {
  text-transform: capitalize;
}

form>* {
  margin-top: 8px;
}

fieldset {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

fieldset .panel {
  width: 49%;
  align-items: center;
}

fieldset .panel>.full-width {
  display: flex;
}

fieldset .panel label {
  display: inline-flex;
  font-family: "Roboto", "Roboto Mono", monospace;
  text-align: end;
  margin-right: 10px;
  line-height: 40px;
  color: rgb(48, 93, 109);
}

fieldset .panel p {
  display: inline-flex;
  line-height: 40px;
}

.long-text {
  word-break: normal;
  -webkit-hyphens: auto;
  hyphens: auto;
  flex-grow: 1;
}

.label-text {
  color: rgb(48, 93, 109);
  font-family: "Roboto", "Roboto Mono", monospace;
  font-size: 12pt;
}

.bold-text {
  font-weight: bold;
}

.justify-content-end {
  justify-content: end;
  display: inline-flex;
}

.justify-content-end form {
  width: auto;
}

#artikkelin-osasto-toistuva-wrap,
#artikkelin-arvostelu-tyyppi-wrap,
#tieteenalat-list,
#metodologiat-list,
#tekija-organisaatiot-list,
#tekija-list,
#tiivistelmat-list,
#asiasana-list,
#huomautukset-list,
#udk-list,
#muu-luokitus-list {
  width: 100%;
}