/* CSS file for muuntaja */

@import "/common/stylesheets/common.css";

/* ---------------------------------------------------------------------------- */

div#loading {}

/* ---------------------------------------------------------------------------- */

div#tools {}

.Input>label,
.Select>label,
.sequence-container>label {
  color: rgb(48, 93, 109);
  font-family: var(--font-family-label);
  font-size: var(--font-size-label-normal);
  text-align: center;
}

.Input>input {
  border: 0;
  border-bottom: 1pt solid grey;
  outline: none;
  font-family: var(--font-family-content);
  font-size: var(--font-size-content-normal);
}

.Select>select {
  border: 0;
  border-bottom: 1pt solid grey;
  outline: none;
  font-family: var(--font-family-content);
  font-size: var(--font-size-content-normal);
}

.ToolBar button {
  font-size: var(--font-size-icon-normal);
}

/* Disabled toolbar button cannot be clicked */
.ToolBar button:disabled {
  pointer-events: none;
}

.uuidInput {
  width: 37ch;
}

.tools #logType {
  text-align: end;
  margin-right: 1ch;
  height: 24px;
}

.tools .id-container {
  display: flex;
  flex-wrap: nowrap;
}

.id-container .id-input {
  display: flex;
  align-items: flex-end;
}

/* Sequence container */

.tools .sequence-container {
  margin-right: 0.5em;
  margin-left: 0.5em;
  min-width: 105px;
}

.sequence-container label {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.sequence-container .sequence-select {
  justify-content: flex-end;
}

.sequence-container #sequence {
  display: none;
  width: 6ch;
  text-align: end;
  margin-left: 2px;
  margin-right: 2px;
}

.sequence-container #sequenceInput {
  width: 6ch;
  text-align: end;
  margin-left: 1px;
  margin-right: 3px;
}

.sequence-container .navigate-button {
  padding: 0px !important;
  margin: 0px !important;
  max-height: 24px;
}

/* Adding some color to make the search button pop in toolbar */
.tools button.search-button {
  background-color: rgb(182, 225, 224);
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.tools button.search-button:active {
  color: rgb(182, 225, 224);
}

.tools button.search-button:disabled {
  background-color: lightgrey;
}

/* ---------------------------------------------------------------------------- */

div#viewer {}

@media screen and (min-width: 1100px) {
  #viewer .record-merge-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .record-merge-panel .col {
    width: 32vw;
    display: flex;
    flex-direction: column;
    padding: 0.5vw;
  }
}

@media screen and (max-width: 1099px) {
  #viewer .record-merge-panel {
    display: flex;
    flex-direction: column;
  }

  .record-merge-panel .col {
    width: 99vw;
    display: flex;
    flex-direction: column;
    padding: 0.5vw;
  }
}

.col>* {
  padding: 8pt;
}

.col .header {
  height: 40px;
  text-transform: uppercase;
  font-family: var(--font-family-headline);
  font-size: var(--font-size-headline-normal);
  font-weight: var(--font-weight-headline-normal);
  line-height: var(--font-line-height-headline-normal);
  border-bottom: 1px solid lightgrey;
  align-items: center;
  display: flex;
}

.col .note {
  font-family: roboto_monoregular, "Roboto Mono", monospace;
  border-bottom: 1px solid lightgrey;
  align-items: center;
  display: none;
}

.col .header .title {
  flex: 4;
}

.col .header .Select {
  flex: 1;
  visibility: hidden;
  display: flex;
  align-items: flex-end;
}

.col .header #match {
  text-align: end;
  min-width: 8ch;
}

.show-hide-buttons {
  font-size: 2em;
  color: inherit;
  border: 0;
  background-color: transparent;
  /*padding: 4px 16px;*/
  cursor: pointer;
}

.show-hide-buttons-wrap #showNote {
  display: none;
}

.show-hide-buttons-wrap #hideNote {
  display: none;
}

.header .material-icons {
  padding: 8px;
  font-size: 32px;
}

.header label {
  font-size: var(--font-size-label-normal);
  font-weight: var(--font-weight-label-normal);
  line-height: var(--font-line-height-label-normal);
  /*color: grey;*/
}

/* ---------------------------------------------------------------------------- */
/* ---Correlation id font helper---*/

/* For span elements */
span.correlation-id-font {
  font-family: roboto_monoregular, "Roboto Mono", monospace;
  cursor: text;
}

/* ---------------------------------------------------------------------------- */
/* ---Highlighting elements---*/

.highlight {
  animation: highlight 5s ease-out 0s 1;
}

@keyframes highlight {
  50% {
    background-color: rgb(182, 225, 224);
  }
}


/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---Correlation id list modal---*/
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

div#correlationIdListModal {}


/* Modal content does not move sideways when scroll bar becomes visible or hidden */
#correlationIdListModal {
  overflow-y: scroll
}

#correlationIdListModal>.modal {}

/* Text content in correlation id modal is small */
/* Modal starts vertically almost from top */
/* width is guided to be more wide */
#correlationIdListModal>.modal-content {
  margin-top: 20px;
  font-size: var(--font-size-content-small);
  padding-top: 8px;
  resize: horizontal;
  overflow: auto;
  max-width: 60%;
  min-width: 39%;
  min-height: 90%;
}

/* Buttons in correlation id list modal are small */
#correlationIdListModal>.modal-content button.modal-function-button {
  background-color: black;
  color: white;
}

/* Buttons in correlation id list modal show effect when hovered */
#correlationIdListModal>.modal-content button:hover {
  background-color: lightgrey;
  color: black;
}

/* Buttons in correlation id list modal show effect when clicked */
#correlationIdListModal>.modal-content button:active {
  background-color: darkgrey;
}

/* Placeholder texts and input texts are small in correlation id modal */
#correlationIdListModal>.modal-content input {
  font-size: var(--font-size-content-small);
}

/* ---------------------------------------------------------------------------- */
/* Correlation id modal title and top buttons*/
/* ---------------------------------------------------------------------------- */

/* Correlation id modal has top div */
.modal-top-div {
  display: flex;
  padding-bottom: 0.5em;
}

/* Modal top div has place for modal title and info text*/
.modal-title-and-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 8px;
}

.modal-title {
  display: flex;
  align-items: center;
  font-size: var(--font-size-content-normal);
}

.modal-info-text {
  display: flex;
  color: black;
  min-height: 14px;
  padding-top: 0.5em;
}

/* Span part in info text is grey by default */
.modal-info-text span {
  font-family: roboto_monoregular, "Roboto Mono", monospace;
  padding-left: 0.5em;
  color: grey;
}

/* Span part in info text is black and underlined when link is active */
.modal-info-text.link-active span {
  color: black;
  text-decoration: underline;
}

/* Span part in info text shows style on hover */
.modal-info-text.link-active span:hover {
  cursor: pointer;
  color: grey;
}

/* Modal top div has place for buttons */
.modal-top-div-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  overflow: hidden;
}

.close-button {
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  padding: 0;
  font-size: 12px !important;
}

/* ---------------------------------------------------------------------------- */
/* Correlation id modal has filtering options with select buttons and inputs */
/* ---------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------- */
/* Correlation id list modal has filtering with buttons */
.list-filtering-buttons {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  overflow: hidden;
  min-width: 0;
  max-width: 700px;
  row-gap: 0.25em;
}

/* ---------------------------------------------------------------------------- */
/* Correlation id list modal has filtering with inputs */
.list-filtering-inputs {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;
}

/* Modal has two datepickers */
.date-filter-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 0.5em 0.5em 0.5em;
  padding-top: 0;

}

/* Container for one date picker input */
.datepicker-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.datepicker-input {
  max-width: 100px;
  text-align: center;
  margin-right: 0.5em;
  padding-right: 0.5em;
}

/* Modal has correlation id filter */
.correlation-id-filter-container {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  overflow: hidden;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* Using special correlation id font for inputs also */
.correlation-id-input {
  min-width: 275px;
  max-width: 350px;
  padding-left: 0.5em;
  font-family: roboto_monoregular, "Roboto Mono", monospace;
}

/* ---------------------------------------------------------------------------- */
/* Correlation id search results and sorting in modal*/
/* ---------------------------------------------------------------------------- */

.list-search-results-and-sorting {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em;
}

/* Container for search results */
.search-results-placeholder {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  overflow: hidden;
  padding-left: 0.5em;
  font-size: var(--font-size-content-normal);
  align-items: center;
}

.styled-result {
  font-weight: bold;
  width: 35px;
  text-align: right;
}

/* Container for clear filter button */
.clear-filters {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
}

.clear-filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dropdown for sorting list */
.list-sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  padding-top: 0.5em;
  padding-left: 0.5em;
}

.sort-dropdown {
  visibility: hidden;
  font-size: var(--font-size-content-small) !important;
}

/* ---------------------------------------------------------------------------- */
/* Correlation id list items div*/
/* ---------------------------------------------------------------------------- */

/* The container for the correlation id list */
.list-items {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

/* ---------------------------------------------------------------------------- */
/* One list item*/

/* A list item: correlation id, supporting text and trailing icons */
.list-item {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  border-bottom: solid 1px lightgrey;
}

/* The first list item has also border on top */
.list-item:first-child {
  border-top: solid 1px lightgrey;
}

/* A list item has style effect on mouse hovering */
.list-item:hover {
  background-color: lightgrey !important;
  cursor: pointer;
}

/* A list item has style effect on clicking */
.list-item:active {
  background-color: darkgrey !important;
}

/* Highlighting the last searched list item */
.list-item.last-searched {
  background-color: darkgrey;
  border-bottom: 5px solid grey;
}

/* A list item has headline: correlation id */
.list-item-id {
  display: flex;
  white-space: nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 250px;
  align-items: center;
  padding: 0.5em;
  margin-right: 0.5em;
  font-family: roboto_monoregular, "Roboto Mono", monospace;
  font-size: var(--font-size-content-normal);
}

/* A list item has supporting text + trailing icons */
.list-item-details-and-icons {
  display: flex;
  white-space: nowrap;
  flex-grow: 1;
  flex-shrink: 3;
}

/* A list item's supporting text has log type, creation time and log count */
.list-item-details {
  display: flex;
  white-space: nowrap;
  flex-grow: 1;
  flex-shrink: 2;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5em;
  color: grey;
  font-size: var(--font-size-content-small);
}

/* A list item has trailing icons such as info icons */
.list-item-icons {
  display: flex;
  white-space: nowrap;
  flex-grow: 1;
  flex-shrink: 2;
  min-width: 75px;
  margin-left: 1em;
  margin-right: 1em;
  align-items: center;
  justify-content: flex-end;
}

.list-item-icons span {
  padding-left: 0.5em;
}

.list-item-icons span:not(.list-item-icons-search) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* ---------------------------------------------------------------------------- */
/* A list item has search icon for hint */

/* search icon is not displayed by default*/
.list-item-icons-search {
  display: none !important;
}

/* search icon is displayed when it's row is hovered */
.list-item:hover .list-item-icons-search {
  display: flex !important;
}

/* the check icon of previously searched list item is hidden when hovering */
.list-item:hover .list-item-icons span.selected-list-item-check-icon {
  display: none;
}

/* search icon shows animation when it's row is clicked (and search is started) */
.list-item:active .list-item-icons-search {
  display: flex !important;
  color: white;
  animation-name: resize-and-rotate;
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* the animation for search icon */
/* the search icon first rotates to right and grows bigger */
/* then it rotates to left and grows smaller */
@keyframes resize-and-rotate {

  0%,
  100% {
    transform: rotate(0deg) scale(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: rotate(90deg) scale(1.5);
  }

  20%,
  40%,
  60%,
  80% {
    transform: rotate(-90deg) scale(0.5);
  }
}

/* ---------------------------------------------------------------------------- */
/* Correlation id modal footer and bottom buttons */
/* ---------------------------------------------------------------------------- */


/* Correlation id modal has bottom div */
.modal-bottom-div {
  display: flex;
  justify-content: center;
}

/* Modal has scroll-to-top button that has fixed position */
.scroll-top-button {
  display: none;
  position: fixed;
  bottom: 8px;
  width: fit-content;
}

/* ---------------------------------------------------------------------------- */
/* Correlation id modal error message */
/* ---------------------------------------------------------------------------- */

/* Error message has icon and text */
.error-message-placeholder {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 1em;
}

.error-message-icon {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.error-message-text {
  display: flex;
  padding: 0.5em;
  font-size: var(--font-size-content-normal);
  font-weight: bold;
  align-items: center;
}

/* Use class disabled-div when correlation id modal has error message */
.disabled-div {
  pointer-events: none;
  opacity: 0.5;
}

/* ---------------------------------------------------------------------------- */
/* Correlation id modal adjusting to the screen width */
/* ---------------------------------------------------------------------------- */

/* If user's screen width is over 2250px: */
/*  - min width for modal content is smaller, there is already enough space */
@media (min-width: 2250px) {
  #correlationIdListModal>.modal-content {
    min-width: 35%;
  }
}

/* If user's screen width is over 3000px: */
/*  - min width for modal content is even smaller, there is already enough space */
@media (min-width: 2750px) {
  #correlationIdListModal>.modal-content {
    min-width: 25%;
  }
}

/* If user's screen width is under 750px: */
/*  - correlation ids are shown in smaller font in the list */
/*  - list item details are hidden automatically */
/*  - list info texts are hidden automatically */
@media (max-width: 750px) {
  .list-item-id {
    font-size: var(--font-size-content-small);
  }

  .list-item-details,
  .modal-info-text,
  #listDetailsToggleContainer {
    display: none !important;
  }

  #correlationIdListModal>.modal-content {
    resize: none;
  }
}

/* If user's screen width is under 670px: */
/*  - correlation ids are shown in smaller font in the list */
/*  - list item details are hidden automatically */
/*  - list item icons are hidden automatically */
/*  - list info texts are hidden automatically */
/*  - list filtering buttons are hidden automatically*/
/*  - modal close button is hidden automatically*/
@media (max-width: 670px) {
  .list-item-id {
    font-size: var(--font-size-content-small);
  }

  .list-item-details-and-icons,
  .modal-info-text,
  .close-button,
  .list-filtering-inputs,
  .list-filtering-buttons {
    display: none !important;
  }

  #correlationIdListModal>.modal-content {
    resize: none;
  }
}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---Dialog for file upload---*/
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

#dialogForUpload {
  width: 500px
}

#dialogForUpload #fileDiv {
  width: 100%;
}

#dialogForUpload .file-input {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

#dialogForUpload .file-name {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

#dialogForUpload .file-button {
  height: 28px;
  font-size: var(--font-size-label-large);
  font-weight: var(--font-weight-label-large);
  background-color: rgb(182, 225, 224);
  border: none;
}

#dialogForUpload .file-button:hover {
  background-color: grey;
}

#dialogForUpload .close-button {
  margin: 5px;
  color: white;
  background-color: black;
}

#dialogForUpload .close-button:hover {
  background-color: lightgrey;
  color: black;
}

#dialogForUpload #dropzone,
#dialogForUpload #pastezone {
  display: flex;
  flex-grow: 2;
  border: 1px dashed grey;
  border-radius: 1em;
  height: 100px;
  align-items: center;
  justify-content: center;
  color: grey;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}

#dialogForUpload #dropzone:hover {
  background-color: rgb(182, 225, 224);
  cursor: pointer;
}

.dragging {
  background-color: #8AB59C;
}

#dialogForUpload #pastezone input {
  display: flex;
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
}

#dialogForUpload #pastezone textarea:focus,
#dialogForUpload #pastezone input:focus {
  outline: none;
}

.read-mode {
  display: flex;
  justify-content: center;
  align-items: center;
}

.read-mode-info {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  color: grey;
}

.read-mode span {
  color: grey;
}

button#exit {
  background-color: rgb(182, 225, 224);
}

button#exit:hover {
  background-color: lightgrey;
}