/* ---------------------------------------------------------------------------- */
/* CSS for generic GUI components */

/* ---------------------------------------------------------------------------- */

/* Filler div to take remaining space */
div .Filler {
  flex-grow: 1;
}

div.FlexBox {
  display: flex;
}

div.HBox {
  display: flex;
  flex-direction: row;
}

div.VBox {
  display: flex;
  flex-direction: column;
}

/* ---------------------------------------------------------------------------- */
/* Buttons inside toolbars, some with icons */

.ToolBar > button {
  /* font-family: "Material Icons"; */
  /* margin: auto 4px auto 4px; */
  font-size: inherit;
  color: inherit;
  border: 0;
  background-color: transparent;
  padding: 4px 16px;
  cursor: pointer;
}

.ToolBar > button:disabled {
  color: gray;
  cursor: default;
}

.ToolBar > button:enabled:hover {
  background-color: rgba(0, 0, 0, 0.10);
  transition: background-color .3s;
}

/* Links inside buttons are not decorated */
button > a, button > a:visited {
  color: inherit;
  text-decoration: none;
}

/* ---------------------------------------------------------------------------- */
/* Inputs & their labels */

.Input > label {
  color: rgb(48, 93, 109);
  font-size: 12pt;
}

.Input > input {
  border: 0;
  border-bottom: 1pt solid grey;
  outline: none;
  font-size: 15pt;
}

/* ---------------------------------------------------------------------------- */
/* Loading bar */

.progress-bar, .progress-bar:before {
  height: 3px;
  width: 100%;
  margin: 0;
}

.progress-bar {
  background-color: #b3d4fc;
  display: -webkit-flex;
  display: flex;
}

.progress-bar:before {
  background-color: #3f51b5;
  content: '';
  animation: running-progress 2s linear infinite;
  -webkit-animation: running-progress 2s linear infinite;
}

@keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 0%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0%; }
}

@-webkit-keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 0%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0%; }
}
