/* CSS file for muuntaja */

@import "generics.css";
@import "navbar.css";

html, body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 15pt;
}

/* ---------------------------------------------------------------------------- */

div#loading {

}

/* ---------------------------------------------------------------------------- */

div#login {
  margin: auto;
  background-color: lightgrey;
}

/* ---------------------------------------------------------------------------- */

div#muuntaja {

}

/* ---------------------------------------------------------------------------- */

