/* ---------------------------------------------------------------------------- */
/* CSS for navbar */

.NavBar {
  /*
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  */
  background-color: #305d6d; /* For browsers not support gradients  */
  background-image: linear-gradient(to right, #305d6d, #7bb9ce);

  display: flex;
  color: white;
  /*
  flex-direction: row;
  */
}

.NavBar .logo {
  height: 64px;
}

.NavBar .AppName {
  display: inline-block;
  text-transform: uppercase;
  padding-top: 32px;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
}

/* ---------------------------------------------------------------------------- */

.IconBar {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  height: 64px;
  color: white;
}

/* ---------------------------------------------------------------------------- */
/* NavBar icons are 32px */

.NavBar .material-icons, .IconBar .material-icons {
  font-size: 32px;
}
