/* ---------------------------------------------------------------------------- */
/* CSS for navbar */

.NavBar {
  /*
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  */
  background-color: #305d6d; /* For browsers not support gradients  */
  background-image: linear-gradient(to right, #305d6d, #7bb9ce);

  display: flex;
  color: white;
  /*
  flex-direction: row;
  */
}

.NavBar .logo {
  height: 64px;
}

.NavBar .AppName {
  display: inline-block;
  text-transform: uppercase;
  padding-top: 32px;
  font-size: 16px;
}

.NavBar > button {
  /* font-family: "Material Icons"; */
  z-index: 2;
  margin: auto 4px auto 4px;
}

/* ---------------------------------------------------------------------------- */

.IconBar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  display: flex;
  color: white;
  justify-content: flex-end;
}

.Iconbar > .Icon {
  /* font-family: "Material Icons"; */
  font-size: 32px;
  padding: 16px;
}
